main {
  margin-top: 150px;
  max-width: 1075px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 100%;
  h1 {
    font-weight: bold;
  }
  section:not(:nth-child(1)), .associations {
    margin-top: 2vh;
  }
  @include tablet-landscape-down {
    margin-top: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  @include tablet-portrait-down {
    margin-top: 50px;
    margin-left: 3vw;
    margin-right: 3vw;
    display: grid;
  }
}
