// Colors :D
$background-color: #fce9e9;
$royal-blue: #000062;

// Typography
$font: 'HK Grotesk';
$baseLineHeight: 1.2;
$baseFontSize: 1rem;

$smallFont: 0.75rem;

$h1FontSize: $baseFontSize * 2.5;
$h2FontSize: $baseFontSize * 2;
$h3FontSize: $baseFontSize * 1.75;
$h4FontSize: $baseFontSize * 1.5;
$h5FontSize: $baseFontSize * 1.25;
$h6FontSize: $baseFontSize;

// Nav bar stuff
$navLogoMargin: 10px;